{"filter":false,"title":".gitignore","tooltip":"/sample_app/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":23,"column":0},"end":{"row":23,"column":22},"action":"insert","lines":["# Ignore Spring files."],"id":2}],[{"start":{"row":23,"column":22},"end":{"row":24,"column":0},"action":"insert","lines":["",""],"id":3}],[{"start":{"row":24,"column":0},"end":{"row":24,"column":13},"action":"insert","lines":["/spring/*.pid"],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":24,"column":13},"end":{"row":24,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1583338379544,"hash":"fecfa01e666f7cfdd481b14dc5b847a8baeabf33"}